<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
      The folder where the files should be extracted.
      The path can be on the local computer (C:\temp\) or a network folder (\\computer\folder).
      If the folder does not exist you will be asked to browse for the extraction folder.
    -->
    <add key="ExtractionPath" value="D:\UnpackQueue\Temp\"/>
    <!-- 
      If set to true you will be asked to select the extraction folder
      each time an item is added to the queue. If false the ExtractionPath setting
      will be used automatically.
    -->
    <add key="SelectExtractionFolder" value="false"/>
    
    <!-- 
      Set to "true" to close UnpackQueue when everything is completed. 
      If any error occur the application will not be closed.
    -->
    <add key="AutoClose" value="false"/>       
    
    <!--
        Set to "true" to add unpacked archives to UnpackQueue.
        This is useful when an archive contains other archives
        and you wish to unpack them all.
    -->
    <add key="AutoAddUnpackedFiles" value="true"/>
    
    <!-- 
      The location of UnRAR.exe. This file is included in WinRAR or 
      can be downloaded from http://www.rarlabs.com
    -->
    <add key="UnRARLocation" value="C:\Program Files\WinRAR\UnRAR.exe"/>
  </appSettings>
</configuration>